<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289260682470-k8dpr07qn8pe2a1lijb6dtv2uda2qmc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289260682470-k8dpr07qn8pe2a1lijb6dtv2uda2qmc8</string>
	<key>API_KEY</key>
	<string>AIzaSyC7P942gmHVZoyBN9PzbiFjlobiY7C-JVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>289260682470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDesigner</string>
	<key>PROJECT_ID</key>
	<string>flutter-dc-83f26</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dc-83f26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289260682470:ios:bd2a1f754b3c5c84164f27</string>
</dict>
</plist>